@import url(https://fonts.googleapis.com/css?family=Orbitron|Work+Sans|Montserrat);
.error {
	display: none;
}

ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
body,
html,
blockquote,
fieldset,
input {
	margin: 0;
}

body {
	background-color: #133D54;
	font-family: Work Sans;
	color: white;
}

::selection {
	background: darkgray;
	/* WebKit/Blink Browsers */
}

::-moz-selection {
	background: darkgray;
	/* Gecko Browsers */
}

a,
a:visited {
	text-decoration: none;
	color: #5EA8D1;
	font-weight: bold;
	-webkit-transition: all 240ms linear;
	-moz-transition: all 240ms linear;
	-o-transition: all 240ms linear;
	-ms-transition: all 240ms linear;
	transition: all 240ms linear;
}

a:hover {
	text-decoration: none;
	color: #ffffff;
}

.content-wrap a:hover {
	color: #000000;
}

blockquote {
	border-left: 6px solid rgba(0, 0, 0, 0.7);
	margin: 5px 10px;
}

.main-font {
	font-family: Work Sans;
	color: white;
}

.header-font {
	font-family: Orbitron;
	font-weight: 900;
	font-size: 40px;
	text-transform: uppercase;
	color: white;
}

.sub-font {
	font-size: 18px;
}

.title-font {
	font-size: 25px;
	text-transform: none;
	color: black;
}

.subtitle-font {
	font-weight: bold;
	font-size: 20px;
	text-transform: none;
	color: black;
}

.topmargin-font {
	margin-top: 30px;
}

.bottommargin-font {
	margin-bottom: 15px;
}

.body-font {
	color: black;
	font-weight: 500;
	margin-top: 5px;
	margin-bottom: 15px;
}

.center-font {
	text-align: center;
}

.white-font {
	color: white;
}

.black-font {
	color: black;
}

.wsite-button {
	display: inline-block;
	padding: 5px 10px;
	color: #3098D1 !important;
	font-size: .9em !important;
	text-align: center;
	background: #fff;
	background-image: none !important;
	border-radius: 6px;
	text-transform: uppercase;
	transition: background-color 0.65s ease, border 0.65s ease;
}

.wsite-button:hover {
	color: #fff !important;
	background: #133D54;
}

.wsite-button-large {
	font-size: 1em !important;
}

.wsite-button-large .wsite-button-inner {
	padding: 16px 30px !important;
}

.btn {
	margin-top: 10px;
}

#desktop-btn {
	display: block;
}

#mobile-btn {
	display: none;
}

#header-wrap,
#banner-wrap,
#nav-wrap,
#main-wrap,
#footer-wrap {
	position: relative;
	width: 100%;
	background-color: none;
	z-index: 1;
}

#header-wrap .container {
	max-width: 100%;
}

#mobile-nav,
#mobile-input,
#nav-trigger,
#mobile-cart {
	display: none;
}

#header {
	position: fixed;
	display: table;
	width: 100%;
	top: 0px;
	background-color: rgba(0, 0, 0, 0.95);
}

#header-static {
	position: fixed;
	display: table;
	width: 100%;
}

#logo {
	max-width: 300px;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1.75em;
	padding: 10px 0px;
}

#logo img {
	max-width: 300px;
	max-height: 50px;
	padding-left: 10px;
	-webkit-transition: all 240ms linear;
	-moz-transition: all 240ms linear;
	-o-transition: all 240ms linear;
	-ms-transition: all 240ms linear;
	transition: all 240ms linear;
}

.minimize #logo img {
	max-height: 35px;
}

#logo,
#nav {
	display: table-cell;
	vertical-align: middle;
	font-family: Work Sans;
	font-weight: bold;
}

#nav {
	position: relative;
}

#nav ul {
	text-align: right;
	overflow: hidden;
	list-style: none;
}

#nav ul li {
	list-style: none;
	display: inline-block;
}

#nav ul li a {
	display: block;
	color: #ffffff;
	padding: 5px 10px;
	margin-bottom: 10px;
	font-size: 12px;
	text-transform: uppercase;
	-webkit-transition: all 240ms linear;
	-moz-transition: all 240ms linear;
	-o-transition: all 240ms linear;
	-ms-transition: all 240ms linear;
	transition: all 240ms linear;
}

#nav ul li:first-child a {
	padding-left: 30px !important;
}

#nav ul li:last-child a {
	padding-right: 30px !important;
}

#nav ul li#active a,
#nav ul li a:hover {
	color: #5EA8D1;
	text-decoration: none;
	border: 0;
}

#nav ul li ul {
	position: absolute;
	top: 50px;
	margin-left: -70px;
	padding-top: 20px;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: visibility 0s, opacity 0.3s linear;
	-moz-transition: visibility 0s, opacity 0.3s linear;
	-o-transition: visibility 0s, opacity 0.3s linear;
	-ms-transition: visibility 0s, opacity 0.3s linear;
	transition: visibility 0s, opacity 0.3s linear;
}

#nav ul li:hover ul {
	list-style: none;
	top: 50px;
	margin-left: -70px;
	padding-top: 20px;
	visibility: visible;
	opacity: 1;
}

#nav ul li:hover ul li a {
	display: block;
	background-color: #ffffff;
	color: #8e8e8e;
	font-size: 14px;
	padding: -20px;
	text-transform: uppercase;
	-webkit-transition: all 240ms linear;
	-moz-transition: all 240ms linear;
	-o-transition: all 240ms linear;
	-ms-transition: all 240ms linear;
	transition: all 240ms linear;
}

#nav ul li ul li a:hover {
	display: inline-block;
	background-color: #ffffff;
	color: #3098D1;
	font-size: 14px;
	text-transform: uppercase;
	-webkit-transition: all 240ms linear;
	-moz-transition: all 240ms linear;
	-o-transition: all 240ms linear;
	-ms-transition: all 240ms linear;
	transition: all 240ms linear;
}

.minimize #nav ul li a {}

#wsite-wrap {
	width: 100%;
	position: relative;
	top: 65px;
}

.content-wrap {
	width: 100%;
	min-height: 5px;
	background-color: white;
	padding: 10px 10%;
	padding-top: 15px;
}

.secondary-background {
	background-color: #3098D1;
	padding-top: 10px;
}

#image-container {
	width: 100%;
	height: 200px;
	background-color: #3098D1;
}

#image-wrap {
	width: 80%;
	height: inherit;
	margin: 0 auto;
	top: 10px;
	overflow: hidden;
	background-color: none;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.static-image {
	background-attachment: fixed;
}

.parallax-window {
	min-height: 250px;
	width: 100%;
	margin: 0 auto;
	background: transparent;
}

#split-wrap {
	width: 100%;
	height: 10px;
	background-color: #3098D1;
}

#jumbotron {
	max-width: 100%;
	padding: 25px 0;
	padding-right: 10%;
	padding-left: 10%;
}

#redirect-wrap {
	overflow: auto;
	position: relative;
	display: inline-block;
	width: 100%;
	height: auto;
	background-color: #3098D1;
	padding: 15px 12%;
	margin-bottom: -6px;
}

#redirect-text {
	max-width: 65%;
	float: left;
}

#redirect-btn {
	float: right;
	margin-left: 5px;
}

.list-wrap {
	overflow: auto;
	position: relative;
	width: 100%;
	background-color: none;
	margin-top: 10px;
}

.list-row {
	display: block;
	max-width: 100%;
	background-color: none;
	float: left;
}

.center-list-row {
	margin: 0 auto;
}

.list-chunk {
	display: block;
	max-width: 30%;
	background-color: none;
	float: left;
}

.list-chunk-below {
	display: block;
	max-width: 30%;
	margin-top: 10px;
	background-color: none;
}

.mentor-width {
	min-width: 250px;
}

.sponsor-width {
	min-width: 50%;
	margin-bottom: 10px;
}

.tier-width {
	width: 22%;
	margin-bottom: 10px;
	margin-left: 10px;
	padding: 20px 30px;
	background: #3498db;
	border-radius: 4px;
}

.tier-width-2 {
	width: 22%;
	padding-right: 5px;
}

.tier-width-full {
	width: 98%;
	margin-bottom: none;
	margin-left: none;
	padding: none;
}

.tier-width div {
	border-radius: 100%;
	background: black;
	height: 100px;
	width: 100px;
	margin: 10px auto;
	padding-top: 30px;
}

.tier-width p {
	font-weight: bold;
	text-align: center;
}

#sponsor-logo {
	display: block;
	width: 256px;
	height: 256px;
/* 	width: 40%;
	min-width: 200px; */
	height: auto;
	float: left;
}

#sponsorus-icon {
	display: block;
	max-width: 20%;
	min-width: 50px;
	height: auto;
	float: left;
	text-align: right;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-left: 10px;
}

#sponsor-text {
	display: block;
	width: 55%;
	padding-left: 3%;
	float: left;
}

#sponsorus-text {
	display: block;
	width: 70%;
	padding-left: 3%;
	float: left;
}

#label {
	max-width: 300px;
	padding-top: 10px;
	margin: 0 auto;
	margin-bottom: 30px;
	border: dotted 2px black;
	border-radius: 4px;
}

#main-contact-form {
	margin-bottom: 250px;
}

#map {
	width: 100%;
	height: 200px;
	float: left;
	margin-top: -230px;
}

.embed-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#shop-container {
	width: 100%;
	color: black;
}

#nanoGalleryContainer {
	max-height: 600px;
	overflow: scroll;
}

#promobar {
	background: #F4D35E;
	color: #000;
	display: block;
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 5px 0px;
	text-align: center;
}

#promobar a {
	color: #000;
	text-decoration: none;
	font-weight: normal;
	font-size: 15px;
}

#footer {
	overflow: auto;
	position: relative;
	max-width: 100%;
	background-color: none;
	padding: 0 10%;
	padding-bottom: 10px;
}

#footer-chunk {
	max-width: 30%;
	background-color: none;
	float: left;
	margin-right: 3%;
	margin-top: 20px;
}

#copyright {
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 60px;
	font-size: 12px;
}