@media (max-width: 1041px) {
  .header-font {
    font-weight: 800;
    font-size: 30px;
  }
  .sub-font {
    font-size: 15px;
  }
  .title-font {
    font-size: 20px;
  }
  #wsite-wrap {
    width: 100%;
    position: relative;
    top: 60px;
  }
  #jumbotron {
    max-width: 100%;
    padding: 20px 0;
    padding-right: 10%;
    padding-left: 10%;
  }
  #header-wrap {
    text-align: center;
  }
  #logo {
    width: 100%;
    margin: auto;
    padding: 10px 30px 10px 10px;
    font-size: 1.5em !important;
  }
  #logo img {
    max-height: 40px;
    max-width: 100%;
  }
  #nav {
    display: none;
  }
  #mobile-nav {
    position: fixed;
    top: 60px;
    margin-left: -30px;
    display: block !important;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: left;
    -webkit-transition: all 240ms linear;
    -moz-transition: all 240ms linear;
    -o-transition: all 240ms linear;
    -ms-transition: all 240ms linear;
    transition: all 240ms linear;
  }
  .minimize #mobile-nav {
    top: 55px;
  }
  #mobile-nav .wsite-menu-arrow {
    display: none;
  }
  #nav-trigger {
    position: relative;
    display: table-cell;
    vertical-align: middle;
  }
  #nav-trigger span,
  #nav-trigger:before,
  #nav-trigger:after {
    display: block;
    width: 20px;
    height: 3px;
    background: white;
  }
  #nav-trigger:before,
  #nav-trigger:after {
    content: '';
  }
  #nav-trigger span {
    margin: 4px 0;
  }
  #mobile-nav> ul {
    display: block;
    max-height: 0;
    overflow: auto;
    font-size: 18px;
    -webkit-transition: all 240ms linear;
    -moz-transition: all 240ms linear;
    -o-transition: all 240ms linear;
    -ms-transition: all 240ms linear;
    transition: all 240ms linear;
  }
  body.menu-open #mobile-nav ul {
    max-height: 2000px;
  }
  body.menu-open #mobile-nav {
    background-color: rgba(0, 0, 0, 0.95);
  }
  #mobile-nav> ul li {
    list-style: none;
    position: relative;
  }
  #mobile-nav> ul> li:first-child {
    padding-top: 0px;
  }
  #mobile-nav> ul> li:last-child {
    padding-bottom: 5px;
  }
  #mobile-nav a {
    padding: 5px 10px;
    display: block;
  }
  #mobile-nav .wsite-menu-wrap {
    position: relative;
    display: block !important;
    margin: 0 auto;
    max-height: 30px;
    overflow: hidden;
    -webkit-transition: all 240ms linear;
    -moz-transition: all 240ms linear;
    -o-transition: all 240ms linear;
    -ms-transition: all 240ms linear;
    transition: all 240ms linear;
  }
  #mobile-nav .wsite-menu a {
    color: #8e8e8e;
  }
  .accordion {
    color: #c1c1c1;
  }
  .accordion> span:before {
    content: '–';
    display: inline-block;
  }
  .accordion> span,
  .accordion> span:after {
    content: '–';
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    text-align: right;
    font-weight: normal;
    z-index: 2;
  }
  .accordion> span:after {
    width: 22px;
    z-index: 1;
    text-align: center;
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: all 240ms linear;
    -moz-transition: all 240ms linear;
    -o-transition: all 240ms linear;
    -ms-transition: all 240ms linear;
    transition: all 240ms linear;
  }
  .accordion.open {
    max-height: 400px !important;
  }
  .accordion.open> span {
    content: '–';
    width: 20px;
  }
  .accordion.open> span:after {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  #image-wrap {
  width: 100%;
  }
  .static-image {
    background-attachment: scroll;
  }
  .ZazzleCollectionItemCell {
    min-width: 50%;
  }
}

@media (max-width: 1025px) {
  #sponsor-text {
    min-width: 90%;
    margin-left: 0;
  }
  #sponsorus-text {
    min-width: 40%;
    margin-left: 0;
  }
}

@media (max-width: 1250px) {
  #sponsor-text {
    width: 45%;
    margin-left: 2%;
  }
  .tier-width{
    min-width: 31%;
  }
  .tier-width-2{
    min-width: 100%;
  }
  .tier-width-full{
    float:left;
    width: 47%;
  }
}