<div id="footer">
	<div id="footer-chunk">
		<h4 class="main-font">
               ABOUT US
             </h4>
		<p>
			<a href="about">Deep Blue Robotics</a> is a FRC team formed by students of Carlmont High School in Belmont, California.
		</p>
		<a href="https://www.facebook.com/frcteam199" target="_blank"><i class="fa fa-facebook-square fa-2x" style="margin-right:10px; margin-top: 5px;"></i></a>
		<a href="https://www.instagram.com/frcteam199/" target="_blank"><i class="fa fa-instagram fa-2x" style="margin-right:10px;"></i></a>
		<a href="https://www.youtube.com/channel/UCCHENRjx_EE5mJVBh6iHmcQ" target="_blank"><i class="fa fa-youtube fa-2x" style="margin-right:10px;"></i></a>
	</div>
	<div id="footer-chunk">
		<h4 class="main-font">
               ADDRESS
             </h4>
		<p>
			<a href="http://www.carlmonths.org" target="_blank">Carlmont High School</a> - Carlmont Robotics </br>1400 Alameda De Las Pulgas</br>Belmont, CA 94002</br>Phone: (650) 595-0210
		</p>
	</div>
	<div id="footer-chunk">
		<h4 class="main-font">
               QUESTIONS?
             </h4>
		<p>
			<a href="contact">Contact us!</a> We want to help.
		</p>
		<h4 class="main-font topmargin-font">
               TEAM LINKS
             </h4>
		<p>
			> <a href="https://sites.google.com/site/carlmontroboticsteam/" target="_blank">Internal Website</a> </br>
			> <a href="http://wiki.carlmontrobotics.org" target="_blank">Wiki</a>
		</p>
	</div>
	<div id="footer-chunk" style="float:right;margin-top:30px;">
		<a href="http://www.firstinspires.org/" target="_blank"><img src="images/first_white.png" alt="FIRST Logo" width="200px"></a>
	</div>
</div>
<div id="copyright">
	<p>
		© 2017 Carlmont Robotics. All Rights Reserved.
	</p>
</div>
</div>

<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="images/nanoGALLERY-5.10.3/dist/jquery.nanogallery.min.js"></script>
<script src="js/custom.js"></script>
<script src="js/shoploader.js"></script>

<!-- Required Social Media Embed Code -->
<div id="fb-root"></div>
<script>
	(function(d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s);
		js.id = id;
		js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>
<!-- Go to www.addthis.com/dashboard to customize your tools --> 
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-581619e1467c26dc"></script> 

</body>

</html>