
RewriteEngine on
RewriteCond %{HTTP_HOST} ^internal\.carlmontrobotics\.org$ [OR]
RewriteCond %{HTTP_HOST} ^www\.internal\.carlmontrobotics\.org$
RewriteRule ^/?$ "http\:\/\/sites\.google\.com\/site\/carlmontroboticsteam\/" [R=301,L]

