
RewriteOptions inherit

RewriteEngine on

RewriteCond %{HTTP_HOST} ^facebook\.carlmontrobotics\.org$ [OR]
RewriteCond %{HTTP_HOST} ^www\.facebook\.carlmontrobotics\.org$
RewriteRule ^/?$ "http\:\/\/www\.facebook\.com\/frcteam199" [R=301,L]
